<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UseDatabase" value="true"/>
    <add key="ConnectionString" value="Data Source=localhost;Initial Catalog=BackingStore;Integrated Security=True;MultipleActiveResultSets=true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.diagnostics>
	  <switches>
		  <add name="WriteBehindEventServiceSwitch" value="Information"/>
	  </switches>
	  <!--Trace logging configuration. 
          Modify switchValue attribute to adjust verbosity.
          See: https://msdn.microsoft.com/en-us/library/ms733025(v=vs.110).aspx#Anchor_3
      -->
    <sources>
		<source name="WriteBehindEventService" switchValue="" switchName="WriteBehindEventServiceSwitch">
		<listeners>
				<remove name="Default"/>
				<add name="eventLogListener" type="System.Diagnostics.EventLogTraceListener" initializeData="WriteBehindEventService"/>
				<!-- Verify C:\temp folder exists or change the path to alternative location to enable logging to the soss_wbec_log.txt file --> 
				<add name="textFileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\temp\soss_wbec_log.txt"/>
				<!-- Uncomment the consoleListener to write trace output to the 
					 command line during debugging/development. -->
				<!--
				<add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" /> 
				-->
		</listeners>
		</source>
	</sources>
    <trace autoflush="true"/>
  </system.diagnostics>

</configuration>
